<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section id="categories">

	<div class="container padding-medium">
		<div class="row">

			<f:for each="{data.net2typo_keyfeature_keyfeature}" as="item">
				<div class="col my-4 my-lg-0 text-center">

					<div class="categories-item">

						<div class="category-icon text-white p-5 rounded-circle"
							style="background-color:{item.background_color -> f:or(alternative:'#cccccc')};">

							<f:if condition="{item.image.0}">
								<f:image image="{item.image.0}" width="60" height="60" alt="{item.header}" />
							</f:if>

						</div>

						<f:if condition="{item.header}">
							<h2>{item.header}</h2>
						</f:if>

					</div>

				</div>
			</f:for>

		</div>
	</div>

</section>

</html>