<section id="cta" class="jarallax cta-section breakout" data-speed="0.4">
    <div class="container padding-medium">
        <!-- Background -->
        <f:for each="{data.tx_mask_bg}" as="file">
            <div class="jarallax-img" style="background-image:url('{file.publicUrl}');"></div>
        </f:for>

        <div class="offset-md-3 col-md-6 text-center ">
            <div class="section-title">

                <h2 class="display-4 mb-3 banner-title">
                    {data.tx_mask_headingtext}
                </h2>

                <div class="banner-description">
                    {data.tx_mask_description -> f:format.html()}
                </div>

                <a class="btn btn-primary mt-4" href="{data.tx_mask_buttonlink}">
                       READ MORE
                </a>
            </div>
        </div>
    </div>

</section>