<div class="social-block mt-5">
    <f:if condition="{data.tx_mask_images}">
        <ul class="social-icons">

            <f:for each="{data.tx_mask_images}" as="item">
                <f:for each="{item.tx_mask_picture}" as="file">
                    <li>
                        <span class="icon-circle">
                            <f:media file="{file}" width="18" />
                        </span>
                    </li>
                </f:for>
            </f:for>

        </ul>
    </f:if>
</div>
