<section id="about-us">
    <div class="container padding-medium pt-0">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="imageblock me-md-5">
                    <div class="animated-border">
                        <f:for each="{data.tx_mask_main}" as="file">
                            <f:media file="{file}" class="img-fluid rounded-circle about-img"
                                alt="{file.description}" />
                        </f:for>

                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5 mt-md-0">
                <div class="section-title">
                    <h2 class="display-4 mb-3">
                        {data.tx_mask_heading}
                    </h2>
                </div>
                <div class="about-description">
                    {data.tx_mask_input -> f:format.html()}
                </div>
                <a class="btn btn-primary mt-3" href="#">
                    About Us
                </a>
            </div>
        </div>
    </div>
</section>