<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<footer class="site-footer">
    <div class="container text-center padding-normal">
        <div class="footer-row">

            <!-- FOOTER CONTENT (colPos 10) -->
           
                <div class="footer-col content-block copyright footer-info-block">
                    
                    <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{colPos: '10'}" />
                 
                </div>
            </div>

        </div>
    </div>
</footer>
