<section id="about-us">

	<div class="container padding-medium pt-0">
		<div class="row align-items-center">

			<!-- LEFT IMAGE -->
			<f:if condition="{data.net2typo_aboutus_background_image}">
				<f:for each="{data.net2typo_aboutus_background_image}" as="image">
					<div class="col-md-6">
						<div class="imageblock me-md-5">
							<div class="animated-border">

								<f:image image="{image}" class="img-fluid rounded-circle about-img" width="500"
									height="500" />

							</div>
						</div>
					</div>
				</f:for>
			</f:if>

			<!-- RIGHT CONTENT -->
			<div class="col-md-6 mt-5 mt-md-0">

				<div class="section-title">
					<h2 class="display-4 mb-3">
						<f:format.stripTags>{data.header}</f:format.stripTags>
					</h2>
				</div>

				<div class="about-description">
					<f:format.raw>{data.bodytext}</f:format.raw>
				</div>

				<f:if condition="{data.header_link}">
					<f:link.typolink parameter="{data.header_link}" class="btn btn-primary mt-3">
						{data.subheader}
					</f:link.typolink>
				</f:if>

			</div>

		</div>
	</div>

</section>